body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #bcf1e6;
}

h1 {
    color: #333;
}

.container {
    display: inline-block;
    margin-top: 20px;
}

.game-info {
    margin-bottom: 20px;
}

#status {
    font-size: 1.2em;
    margin-bottom: 10px;
}
#start-game {
    background-color: #b4aecd;
    border-radius: 10px; 
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 0 auto;
}

#reset-game {
     background-color: #b4aecd;
     border-radius: 10px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #7cb5c6;
    border: 1px solid #ccc;
    font-size: 2em;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
}


button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
